x-common-volumes: &common-volumes
  - ./:/MoneyPrinterTurbo

services:
  webui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "moneyprinterturbo-webui"
    ports:
      - "8511:8501"
    command: [ "streamlit", "run", "./webui/Main.py", "--browser.serverAddress=127.0.0.1", "--server.enableCORS=True", "--browser.gatherUsageStats=False" ]
    volumes:
      - ./:/MoneyPrinterTurbo
      - /MoneyPrinterTurbo/venv
      - /MoneyPrinterTurbo/.venv
      - /MoneyPrinterTurbo/__pycache__
    restart: always
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "moneyprinterturbo-api"
    ports:
      - "8080:8080"
    command: [ "python3", "main.py" ]
    volumes:
      - ./:/MoneyPrinterTurbo
      - /MoneyPrinterTurbo/venv
      - /MoneyPrinterTurbo/.venv
      - /MoneyPrinterTurbo/__pycache__
    restart: always
